# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
venv312
env/
.env

# Jupyter
.ipynb_checkpoints/

# ML model weights
*.pth
*.pkl
*.ckpt
*.h5

# Data
*.csv
data/
datasets/

# DepthAI cache e crash dumps
.cache/
.claude/
